include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/media *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/media/migration *.ini *.py *.mako
recursive-include ckanext/media/public *.*
